@import "./colors";
%flex-space-around {
  display: flex;
  justify-content: space-around;
}
%one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
%h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: $secondary-color;
}

@media screen and (min-width: 768px){
  %h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px){
  %h1 {
    font-size: 38px;
  }
}