@import "../../common/style/template";
@import "../../common/style/colors";

.header {
  margin-top: 46px;
  @extend %flex-space-around;
}

.btn {
  max-width: 20%;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  padding: 14px 15px;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  color: $secondary-color;
  background-color: $main-color;
  text-align: center;
  text-decoration: none;
  @extend %one-line;
}
@media screen and (min-width: 768px) {
  .btn {
    max-width: 8%;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    max-width: 6%;
  }
}
